body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #f8c400, #f8c400);
    background-image: -ms-linear-gradient(top, #f8c400, #f8c400);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8c400), to(#f8c400));
    background-image: -webkit-linear-gradient(top, #f8c400, #f8c400);
    background-image: -o-linear-gradient(top, #f8c400, #f8c400);
    background-image: linear-gradient(top, #f8c400, #f8c400);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05376C', endColorstr='#05376C', GradientType=0);
    border-color: #05376C ;
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #f8c400 ;
}

.btn-success:active, .btn-success.active {
    background-color: #f8c400 ;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.th_table{
    text-align: center;
    border: 2px #e0e0e0 solid;
}

.title{
    text-align: center;
}

.menu-lateral{
    margin-left: -366px;
    margin-top: 55px;
    position: fixed;
}

.container-view{
    width: 77%;
    margin-left: 226px;
}

.menu{
    margin-top: 67px;
    float: left;
    margin-left: -50px;
}
.menu li{
    background-color: #05376C;
    width: 150px;
    height: 52px;
    padding: 12px 0px 0px 12px;
    list-style: none;
    border: 1px solid;

}

.menu li:hover{
    background-color: #f8c400;
}

.menu a{
    color: white;
    text-decoration: none;
}

.img-map{
    width: 100%;
}

.container_index{
    background-color: #99B3FF;
}

.td_table{
    width: 20%;
    text-align: left;
    font-weight: bolder;
}

.color-table{
    background-color: #f8c400;
}

.componente-nombre{
    background-color: #F7F8E0;
    color: #d58512;
    text-transform: uppercase;
    padding-bottom: 43px;
}

.table-estudiantes{
    background-color: #05376C;
    color: white;
}

.btn-atras{
    border: 1px solid;
    width: 70px;
    height: 29px;
    background-color: #f8c400;
    text-align: center;
    color: black;
    border-radius: 8px;

}


.btn-crear{
    border: 1px solid;
    width: 105px;
    height: 29px;
    background-color: #f8c400;
    text-align: center;
    color: black;
    border-radius: 8px;

}

